<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Fly Ash Bricks Cost Computation</h4>
                        <p class="category">Add the latest rates and costings to get the updated costing values</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Material</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Actual Cost</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h5>Fly Ash</h5></td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Quantity in Kg">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Cost Per Ton">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td class="text-primary"><h5>Rs. 0.0</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Lime</h5></td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Quantity in Kg">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Cost Per Ton">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td class="text-primary"><h5>Rs. 0.0</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Sand</h5></td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Quantity in Kg">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Cost Per Ton">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td class="text-primary"><h5>Rs. 0.0</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Stone Dust</h5></td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Quantity in Kg">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Cost Per Ton">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td class="text-primary"><h5>Rs. 0.0</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Carbite</h5></td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Quantity in Kg">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group label-floating is-empty">
                                            <input name="fly_ash_quantity" type="text" class="form-control" placeholder="Cost Per Ton">
                                            <span class="material-input"></span>
                                        </div>
                                    </td>
                                    <td class="text-primary"><h5>Rs. 0.0</h5></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>