<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Behula Brick Works</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Fly Ash Bricks Cost Computation</h4>
                        <p class="category">Add the latest rates and costings to get the updated costing values</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Material</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Actual Cost</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><h5>Fly Ash</h5></td>
                                <td>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Quantity in Kg</label>
                                        <input name="fly_ash_quantity" type="text" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Cost Per Ton</label>
                                        <input name="fly_ash_quantity" type="text" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                </td>
                                <td class="text-primary"><h5>Rs. 0.0</h5></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>