{% load static %}

<div class="sidebar" data-color="blue" data-image="{% static "img/sidebar-1.jpg" %}">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            BBW & BFA
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#home">
                    <i class="material-icons">supervisor_account</i>
                    <p>Employees</p>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#home">
                    <i class="material-icons">keyboard</i>
                    <p>BFA Cost Calculator</p>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#home">
                    <i class="material-icons">library_books</i>
                    <p>BFA Stock & Sales</p>
                </a>
            </li>
        </ul>
    </div>
</div>